# Android Studio / IntelliJ files
.idea/
.gradle/
build/
*.iml
local.properties

# Log files
*.log

# Captures and screenshots
/captures/

# External native build folder
.externalNativeBuild/
.cxx/

# Keystore files (VERY IMPORTANT to ignore if you ever add them)
*.jks
*.keystore

# Google Services configuration
google-services.json

# macOS files
.DS_Store